<!--IMAGE_SETTINGS_START//-->

<!--IMAGE_SETTINGS_END//-->

<!--IMAGES_HEADER_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE][SUBTITLE]
<h4>{SUBTITLE}</h4>[/SUBTITLE]
<div style="float: right; width: 400px;">[TEXT]{TEXT}[/TEXT]</div>
<div class="fotorama" style="float: left;" data-width="500" data-height="333" data-nav="thumbs" data-nav="false" data-autoplay="true" data-arrows="false" data-transition="crossfade" data-transitionduration="3000" data-stopautoplayontouch="false">
	
<!--IMAGES_HEADER_END//-->

<!--IMAGES_ENTRY_START//-->
			{IMAGE}
			
		
<!--IMAGES_ENTRY_END//-->

<!--IMAGES_ENTRY_SPACER_START//--><!--IMAGES_ENTRY_SPACER_END//-->
<!--IMAGES_ROW_SPACER_START//--><!--IMAGES_ROW_SPACER_END//-->

<!--IMAGES_FOOTER_START//-->
	
</div>
<div style="clear: both;"></div>
<!-- JS: {TEMPLATE}fotorama/fotorama.js -->
<!-- CSS: {TEMPLATE}fotorama/fotorama.css -->

<!--IMAGES_FOOTER_END//-->